.blog_link{
  text-decoration: none;
}
.blogs {
    width: 100%;
    background: #1a1a1a;
    /* margin: 2em 0; */
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
  }
  .blogs::before,
  .blogs::after {
    content: "";
    position: absolute;
    width: 20em;
    height: 20em;
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4a00e0,
      #8e2de2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4a00e0,
      #8e2de2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;
  }
  .blogs::before {
    left: -10em;
    bottom: 0;
  }
  .blogs::after {
    right: -10em;
    top: 8em;
    background: #f953c6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b91d73,
      #f953c6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #b91d73,
      #f953c6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .blog_box {
    flex-wrap: wrap;
  }
  .blog_box .box {
    text-align: center;
    margin: 2em 1em;
    width: 24em;
    height: 36em;
    background: var(--bg-dark);
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.068);
    border-bottom: none;
    /* display: flex; */
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  .blog_head {
    font-size: 6em;
    font-family: var(--font);
  }
/* my code */
.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

.col-75 {
float: left;
width: 53%;
margin-top: 6px;
}
.formcontainer {
border-radius: 5px;
/* background-color: #f2f2f2; */
padding: 20px;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}

.blog_img img{
  border-radius: 8px;
}


.blogs .blog_heading {
  margin-bottom: 0.4em;
  text-align: center;
  height: 100px;
  /* font-size: 6em; */
  font-family: var(--font);
}
.blogs  .blog_box .box :is(h1, p) {
  margin-bottom: 0.5em;
}
.blogs  .blog_box .box p{
  opacity: 0.6;
}
.blogs  .blog_box .box .links a {
  color: var(--light-color);
  text-decoration: none;
  margin-right: 0.4em;
  transition: all 0.4s;
}
.blogs  .blog_box .box .links a i {
  margin-left: 0.4em;
  margin-top: 1.6em;
  transition: all 0.4s;
}
.blogs  .blog_box .box .links a:hover {
  color: var(--secondary-color);
}
.blogs .blog_box .box .links a:hover i {
  transform: translateX(0.2em);
  color: var(--secondary-color);
}
#particles-js2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}


.blog-container {
  display: flex;
  flex-wrap: wrap;
}
/* 
.blog-wrapper {
display: flex;
transition: transform 0.3s ease-in-out;
}
  
.blog-list {
list-style: none;
padding: 0;
margin: 0;
display: flex;
} */
