.mini_proj {
  width: 100%;
  padding: 2em 0;
  position: relative;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.116);
  /* backdrop-filter: blur(20px); */
  overflow-x: hidden;
}
.mini_proj::before,
.mini_proj::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  background: #f953c6; 
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); 
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); 
  border-radius: 50%;
}
.mini_proj::before {
  left: -10em;
  bottom: 0;
}
.mini_proj::after {
  right: -10em;
  top: 8em;
  background: #8e2de2; 
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
}
.mini_proj .project_heading {
  margin-bottom: 0.4em;
  font-size: 6em;
  font-family: var(--font);
}
.mini_proj .container {
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}
.mini_proj .container .main_box {
  width: 35em;
  height: 12em;
  margin: 0.5em 2em;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.199);
}
.mini_proj .container .main_box .icon {
  width: 2em;
  height: 150px;
  margin-left: 0.1em;
  font-size: 8em;
}
.mini_proj .container .main_box .box {
  width: 20em;
  margin-left: 0.8em;
  padding-right: 0.5em;
}
.mini_proj .container .main_box .box :is(h1, p) {
  margin-bottom: 0.5em;
}
/* .mini_proj .container .main_box .box p{
  opacity: 0.6;
} */
.mini_proj .container .main_box .box .links a {
  color: var(--light-color);
  text-decoration: none;
  margin-right: 0.4em;
  transition: all 0.4s;
}
.mini_proj .container .main_box .box .links a i {
  margin-left: 0.4em;
  transition: all 0.4s;
}
.mini_proj .container .main_box .box .links a:hover {
  color: var(--secondary-color);
}
.mini_proj .container .main_box .box .links a:hover i {
  transform: translateX(0.2em);
  color: var(--secondary-color);
}
#particles-js2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
